
Control/Control/.vs/*
Control/Control/obj/*
Control/Control/bin/*
Hardware/Altium/__Previews/*
Hardware/Altium/History/*
Hardware/Altium/International Rectifier/*
Hardware/Altium/Project Logs for Project/*
Control/TeslaCommunication/obj/*
Control/TeslaCommunication/bin/*
Control/TeslaComClient/obj/*
Control/TeslaComClient/bin/*
Control/TeslaDesktopClient/obj/*
Control/TeslaDesktopClient/bin/*
Control/Excel2013Control/obj/*
Control/Excel2013Control/bin/*
*.bak
Control/TeslaCommunication/.vs/*
Control/~$ExcelControl.xlsm
Control/TeslaComClient/~$ExcelControl.xlsm
Hardware/StepMotorDriver/Altium/__Previews/*
