
Control/Control/.vs/*
Control/Control/obj/*
Control/Control/bin/*
Hardware/Altium/__Previews/*
Hardware/Altium/History/*
Hardware/Altium/International Rectifier/*
Hardware/Altium/Project Logs for Project/*
