<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DSDParserTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DSDParserTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>

  <appSettings>
    <add key="ParserMap" value="Config\\ProtocolMap.xml"/>
    
  </appSettings>
    <userSettings>
        <DSDParserTester.Properties.Settings>
            <setting name="ComNo" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="BautRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="LastIp" serializeAs="String">
                <value>119.147.24.223</value>
            </setting>
            <setting name="LastPort" serializeAs="String">
                <value>9123</value>
            </setting>
            <setting name="OutPutHexData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CurrID" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="BTName1" serializeAs="String">
                <value>GotWay</value>
            </setting>
            <setting name="HC05Name" serializeAs="String">
                <value>HC-05</value>
            </setting>
            <setting name="HC05NameNo" serializeAs="String">
                <value>61</value>
            </setting>
            <setting name="ShowSendInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTimeInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SHH4Name" serializeAs="String">
                <value>SH-H4</value>
            </setting>
        </DSDParserTester.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <DSDParserTester.Properties.Settings>
            <setting name="SoftTitle" serializeAs="String">
                <value>DSD Tech Tester</value>
            </setting>
            <setting name="StatusInfo" serializeAs="String">
                <value>DSD TECH   </value>
            </setting>
            <setting name="ShowGpsTab" serializeAs="String">
                <value>False</value>
            </setting>
        </DSDParserTester.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
