<?xml version="1.0"?>
<configuration>
  
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="TeslaCommunicationServiceBehavior" name="TeslaCommunication.Service">
        <endpoint address="" binding="wsHttpBinding" contract="TeslaCommunication.ICommunicationProtocol" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8282/TeslaCommunication/service" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="TeslaCommunicationServiceBehavioк">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
