<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICommunicationProtocol"/>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8282/TeslaCommunication/service" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICommunicationProtocol" contract="TeslaCommunication.ICommunicationProtocol" name="WSHttpBinding_ICommunicationProtocol">
                <identity>
                    <userPrincipalName value="DESKTOP-HVPH7PM\User"/>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
