<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICommunicationProtocol" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.7.100:8282/TeslaCommunication/service"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICommunicationProtocol"
                contract="TeslaCommunication.ICommunicationProtocol" name="WSHttpBinding_ICommunicationProtocol">
                <identity>
                    <userPrincipalName value="DESKTOP-7NT0T6L\user" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>